.container {
  display: flex;
  gap: 20px;
  padding-top: 20px;

  .container-one, .container-two {
    width: 50%;
  }
}

.table-container {
  width: 100%;
}

app-list-movies-years, app-list-studios-years {
  width: 50%;
}
